//! **************************************************************************
// Written by: Map P.58f on Tue Oct 14 17:21:12 2014
//! **************************************************************************

SCHEMATIC START;
COMP "HS" LOCATE = SITE "N6" LEVEL 1;
COMP "VS" LOCATE = SITE "P7" LEVEL 1;
COMP "OutBlue<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "OutBlue<2>" LOCATE = SITE "T7" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "mclk" LOCATE = SITE "V10" LEVEL 1;
COMP "OutRed<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "OutRed<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "OutRed<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "OutGreen<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "OutGreen<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "OutGreen<2>" LOCATE = SITE "V6" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "DispCtrlInst/ck50MHz" BEL "mclk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

